[MASTER]
# Files to ignore by linter
ignore=.gitignore,
       .pylintrc,
       Dockerfile,
       docker-compose.yml,
       docker-entry.sh,
       requirements.txt,
       Pipfile,
       Pipfile.lock,
       Procfile,
       README.md,
       LICENSE

[MESSAGE CONTROL]
# C0111: Missing docstring
# R0903: Too few public methods
disable=C0111,
        R0903

# remove unused imports        
enale=W0614

# allow airflow module to be unknown
ignored-modules=airflow

[FORMAT]
# add extra size for linelength
max-line-length=120

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html
output-format=colorized